parameters:
    level: max

    paths:
        - config
        - src
        - tests

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - *Source/*

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # false positive
        - '#Parameter \#1 \$value of static method PhpParser\\BuilderHelpers\:\:normalizeValue\(\) expects array\|bool\|float\|int\|PhpParser\\Node\\Expr\|string\|UnitEnum\|null, mixed given#'

        -
            path: src/Rector/Class_/UnifyModelDatesWithCastsRector.php
            message: '#Parameter \#1 \$array of function array_keys expects array, mixed given#'

        # rector co-variant
        - '#Parameter \#1 \$node (.*?) of method RectorLaravel\\(.*?)\:\:(refactor|refactorWithScope)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Contract\\Rector\\RectorInterface\:\:refactor\(\)#'

        - '#Parameter \#1 \$className of method Rector\\Reflection\\ReflectionResolver\:\:resolveMethodReflection\(\) expects class\-string, string given#'

        # No easy replacement for this check, it's also ignored in core Rector
        - '#Doing instanceof PHPStan\\Type\\Generic\\GenericObjectType is error\-prone and deprecated#'
