<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="defects"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="commands">
            <directory>tests/Commands</directory>
        </testsuite>
        <testsuite name="sets">
            <directory>tests/Sets</directory>
        </testsuite>
        <testsuite name="rector">
            <directory>tests/Rector</directory>
        </testsuite>
        <!--
            This on the last as tests extends AbstractLazyTestCase
            that clear configuration
        -->
        <testsuite name="node-analizer">
            <directory>tests/NodeAnalyzer</directory>
        </testsuite>
    </testsuites>
</phpunit>
