<?php

declare(strict_types=1);

use Rector\Config\RectorConfig;
use __NAMESPACE__\__NAME__;

return static function (RectorConfig $rectorConfig): void {
    $rectorConfig->ruleWithConfiguration(__NAME__::class, ['option' => 'value']);
};
